html, body {
  margin:0px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  width:100vw;
  overflow: hidden
}

td {
	border: 1px solid blue;
}

td:nth-child(1) {
  font-size: 4vw;
  width: 30%;
  color: white;
}

tr:nth-child(1) {
  font-size: 8vw;
  color: white;
}

a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
  
.timer  {
  font-size: 20vw;
  color: white;
}


#container {
  width:100vw;
  background: blue;
}

#atsymbol {
  color: white;
  font-size: 4vw;
}

#menu {
  font-size: 600%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#ubmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  resize: vertical;
  overflow: auto;
}

 #timercontainer { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
} 
 
 #table { 
  border: 1px solid blue;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 5vw;
 } 
 
  #form { 
  border: 1px solid yellow;
  background: none;
  color: white;
  font-size: 100%;
  width: 10vw;
} 


