html, body {
  margin:0px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  
}

a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}




td:nth-child(1) {
   border: 1px solid black;
  width: 50%;
}
  
 td:nth-child(2) {
  width: 10%;
}
  
 td:nth-child(3) {
  width: 10%;
}
  
 td:nth-child(4) {
  width: 10%;
  }
  
.timer  {
  font-size: 800%;
  color: white;
}

#menu {
  font-size: 200%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#ubmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  resize: vertical;
  overflow: auto;
}

#wrapper {
  height:100vh;
  background: red;
 
}

#left  { 
 float:top;  
 height: 20%; 
 width: 100%;
}

#right {  
 

 } 
 
 #timercontainer { 
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
} 
 
 #table { 
  float:top;
  width: 100%;
  
  color: white;
  font-size: 200%;
  border: 1px solid black;
   margin-left: auto;
  margin-right: auto;

 } 
 
  #form { 
  border: 1px solid black;
  background: none;
  color: white;
  font-size: 100%;
  width: 100%;
  height: 100%;

} 


